<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head}}
        <title>FOCCACIA | {{name}}</title>
    </head>
    <body>
        {{> navbar}}
        <div class="w-full flex flex-col justify-start items-center">
            <div class="w-full max-w-8xl my-20 flex flex-col">
                {{#if added}}
                    <div class="w-full mb-4 px-4 py-3 rounded-xl bg-stone-200">
                        <p class="font-semibold">Team added successfully!</p>
                    </div>
                {{/if}}
                {{#if removed}}
                    <div class="w-full mb-4 px-4 py-3 rounded-xl bg-stone-200">
                        <p class="font-semibold">Team removed successfully!</p>
                    </div>
                {{/if}}
                <div class="w-full max-w-8xl mb-4 flex justify-end space-x-4">
                    <form method="post" action="./{{id}}/delete">
                        {{#> button submit=true}}Delete Group{{/button}}
                    </form>
                    {{#> button secondary=true href=(concat id "/edit")}}Edit Group{{/button}}
                    {{#> button href=(concat id "/teams")}}Add team{{/button}}
                </div>
                <p class="text-xl">{{description}}</p>
                {{#if hasTeams}}
                    <div class="flex flex-col rounded-2xl shadow-md">
                        {{#each teams}}
                            <form method="post" action="{{concat "/groups/" @root.id "/teams/" this.id "/leagues/" this.leagueId "/seasons/" this.season}}" class="w-full px-4 py-3 flex justify-between items-center first:rounded-t-2xl last:rounded-b-2xl odd:bg-stone-200 even:bg-stone-100">
                                <div class="flex flex-col">
                                    <p class="text-2xl">{{this.name}}</p>
                                    <p>{{this.league}}</p>
                                    <p>{{this.season}}</p>
                                </div>
                                {{#> button submit=true}}Remove team{{/button}}
                            </form>
                        {{/each}}
                    </div>
                {{else}}
                    <p class="text-2xl">This group has no teams</p>
                {{/if}}
            </div>
        </div>
    </body>
</html>