<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head}}
        <title>FOCCACIA | Groups</title>
    </head>
    <body>
        {{> navbar}}
        <div class="w-full flex flex-col justify-start items-center">
            <div class="w-full max-w-8xl my-20 flex flex-col">
                {{#if added}}
                    <div class="w-full mb-4 px-4 py-3 rounded-xl bg-stone-200">
                        <p class="font-semibold">Team added successfully!</p>
                    </div>
                {{/if}}
                {{#if removed}}
                    <div class="w-full mb-4 px-4 py-3 rounded-xl bg-stone-200">
                        <p class="font-semibold">Team removed successfully!</p>
                    </div>
                {{/if}}
                <div class="w-full max-w-8xl mb-4 flex justify-end">
                    {{#> button href=(concat "/groups/" id "/teams")}}Add team{{/button}}
                </div>
                <p class="text-xl">{{description}}</p>
                {{#if hasTeams}}
                    <div class="flex flex-col rounded-2xl shadow-md">
                        {{#each teams}}
                            <div class="w-full px-4 py-3 flex justify-between items-center first:rounded-t-2xl last:rounded-b-2xl odd:bg-stone-200 even:bg-stone-100">
                                <div class="flex flex-col">
                                    <p class="text-2xl">{{this.name}}</p>
                                    <p>{{this.league}}</p>
                                    <p>{{this.season}}</p>
                                </div>
                                {{#> button secondary=true href=(concat "/groups/" id "/teams/" this.id "/leagues/" this.league "/seasons/" this.season ""}}Remove team{{/button}}
                            </div>
                        {{/each}}
                    </div>
                {{else}}
                    <p class="text-2xl">This group has no teams</p>
                {{/if}}
            </div>
        </div>
    </body>
</html>