<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head}}
        <title>FOCCACIA | Team Leagues</title>
    </head>
    <body>
        {{> navbar}}
        <div class="w-full min-h-full flex justify-center items-start">
            <div class="w-full max-w-8xl my-20 flex flex-col rounded-2xl shadow-md">
                {{#each leagues}}
                    <form method="post" class="w-full px-4 py-3 flex justify-between items-center first:rounded-t-2xl last:rounded-b-2xl odd:bg-stone-200 even:bg-stone-100">
                        <div class="flex justify-center items-center space-x-4">
                            <img src="{{this.logo}}" class="w-16 h-16 object-contain" />
                            <p class="text-2xl">{{this.name}}</p>
                            <p>{{this.country}}</p>
                        </div>
                        <input type="hidden" name="id" value="{{this.id}}" />
                        <select name="season">
                            {{#each seasons}}
                                <option>{{this}}</option>
                            {{/each}}
                        </select>
                        {{#> button secondary=true submit=true}}Add to group{{/button}}
                    </form>
                {{/each}}
            </div>
        </div>
    </body>
</html>