<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head}}
        <title>FOCCACIA | Team Leagues</title>
        {{> script}}
    </head>
    <body>
        {{> navbar loggedIn=loggedIn}}
        {{> loading}}
        <div class="w-full flex flex-col justify-start items-center">
            <div class="w-full max-w-8xl my-20 flex flex-col">
                <h1 class="mb-6 text-3xl font-bold">Team Leagues</h1>
                <table class="w-full bg-stone-100 rounded-xl shadow ring-1 ring-stone-900/10 divide-y divide-stone-900/10 overflow-hidden">
                    <tr class="font-medium text-left bg-stone-300/75 border-b border-stone-900/10 divide-x divide-stone-900/10">
                        <th class="w-1/10 px-4 py-3 pl-6 text-left">Icon</th>
                        <th class="w-3/10 px-4 py-3 text-left">Name</th>
                        <th class="w-3/10 px-4 py-3 text-left">Country</th>
                        <th class="px-4 py-3 text-left {{#if (not loggedIn)}}w-3/10 pr-6{{else}}w-2/10{{/if}}">Season</th>
                        {{#if loggedIn}}
                            <th class="w-1/10 px-4 py-3 pr-6 text-left">Action</th>
                        {{/if}}
                    </tr>
                    {{#each leagues}}
                        <tr class="divide-x divide-stone-900/10 odd:bg-stone-200">
                            <td class="pl-6 py-1.5">
                                <img src="{{this.logo}}" alt="{{this.name}}" class="h-12 object-contain" />
                            </td>
                            <td class="px-4 py-3">{{this.name}}</td>
                            <td class="px-4 py-3">{{this.country}}</td>
                            <td class="px-4 py-3 {{#if (not @root.loggedIn)}}pr-6{{/if}}">
                                <select id="season-{{this.id}}">
                                    {{#each seasons}}
                                        <option>{{this}}</option>
                                    {{/each}}
                                </select>
                            </td>
                            {{#if @root.loggedIn}}
                                <td class="px-4 py-3 pr-6 text-center">
                                    {{#> button link=true onclick=(concat "attemptAdd(" this.id ", +document.getElementById('season-" this.id "').value)")}}Select{{/button}}
                                </td>
                            {{/if}}
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
        {{> dialog title="Select a Group" text="To which group do you want to add this team?" id="addDialog" contentId="addDialogContent" hideButtons=true class="w-full"}}
    </body>
    <script>
        async function attemptAdd(idl, season) {
            const groups = await Promise.all((await
                (await fetch("/api/groups", {
                    headers: {
                        "Authorization": "{{token}}"
                    }
                }))
                .json()
            ).data.map(async id =>
                (await
                    (await fetch("/api/groups/" + id, {
                        headers: {
                            "Authorization": "{{token}}"
                        }
                    }))
                    .json()
                ).data
            ));

            document.getElementById("addDialog").showModal();
            document.getElementById("addDialog").classList.add("open");

            groups.forEach(g => {
                const elm = document.createElement("div");
                elm.className = "px-4 py-2.5 flex justify-between bg-stone-200 rounded-lg shadow";

                const text = document.createElement("p");
                text.className = "font-semibold text-stone-700";
                text.innerText = g.name;

                const btn = document.createElement("button");
                btn.className = "font-semibold text-orange-600 hover:text-orange-400 drop-shadow-xs cursor-pointer transition-colors duration-200";
                btn.innerText = "Add";
                btn.onclick = () => {
                    closeDialog(document.getElementById("addDialog"))
                    addToGroup(g.id, idl, season);
                };

                elm.appendChild(text);
                elm.appendChild(btn);

                document.getElementById("addDialogContent").appendChild(elm);
            });

            document.getElementById("addDialogContent").className = "mt-4 space-y-3";
        }

        async function addToGroup(id, idl, season) {
            await fetch(`/api/groups/${id}/teams`, {
                method: "POST",
                headers: {
                    "Authorization": "{{token}}",
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    teams: [{
                        id: {{team}},
                        leagueId: idl,
                        season
                    }]
                })
            });

            startLoading();

            // Prevent 404 page due to many elasticsearch requests
            setTimeout(() => window.open(`/groups/${id}?addSuccess=true`, "_self"), 2000);
        }
    </script>
</html>